<html>
  <head>
   <title>Potin n° <%= id %> </title>
  </head>

  <body>
    <h1> Voici la page du potin n°<%= id %> </h1>
    <a href="/gossips/<%= id %>/edit/">Editer le gossip</a></br>

    Son auteur : <%= author %><br/>
    Le contenu du potin : <%= content %><br /><br />

    <a href="/">Retour à l'accueil</a> 

  <body>
</html>